/*
* Desc: Stying for the main page of google search mock up
* Author: Emmanuel Bastidas
* since: 05/27/2022
* version: 0.01
*/

$color: blue;

// creating styling for basic button
.basic-button{
    width: auto;
    height: 40px;
    border-style: hidden;
    border-radius: 8px;
    background-color: #3D4042;
    color: white;
}

.basic-button:hover{
    border-style: solid;
    border-color: #606367;
}

.search-button{
    @extend .basic-button;

    height: 40px;
}

.feeling-lucky-button{
    @extend .basic-button;

    
}

.search-bar{

}
