
/* top level div container used when you need to center div*/
.parent{
    /* Center vertically and horizontally */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* div that holds google logo, search bar, submit button */
#search{
    text-align: center;
    width: 100%;
}

#logo{
    width: 250px;
}

/* Styling the search bar */
input[type=text]{
    width: 500px;
    height: 43px;
    padding-left: 15px;          /* move text in search bar from the left 15 pixels */
    background-color: #202124; /* style the color of the search bar */
    color: white;              /* Style the text being inputted into the search bar */

    
    border-radius: 25px;         /* Make the search bar have round edges */
    border-style: solid;         /* make border solid */
    border-color: #606367;     /* color of the border */
}

/* style the search bar when it is in focus*/
input[type=text]:focus{
    outline: none;
    background-color: #303134;
    border-color: #303134;
}

/* style the search bar when it is in hovered over*/
input[type=text]:hover{
    background-color: #303134;
    border-color: #303134;
}

/* Styling the form button */
input[type=submit]{
    width: 100px;
    border-radius: 12px; /* this gives elements round edges */
}